tbody tr:hover{
  cursor: pointer;
  background-color: #eeeeee;
}
.table>thead>tr>th,.table>tbody>tr>td{
  padding-left: 15px;
  padding-right: 15px;
}
td>a{
  color: black;
}
caption{
  padding-bottom: 0;
}

.top{
  color: red;
}
.manage-name{
  color: red;
}
.title{
  font-size: 16px;
}
.time, .author{
  color: #777;
}

.lg{
  display: none;
}

.sm hr{
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .lg{
    display: block;
  }
  .sm{
    display: none;
  }
}
